* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    display: grid;
}

.header {
    background-color: green;
    border-bottom: solid rgb(0, 88, 0);
    color: white;
}

.addbook {
    grid-row: 2;
    background-color: rgb(165, 185, 165);
    display: flex;
    justify-content: center;
}

#addbtn {
    border-radius: 10px;
    border: none;
    background-color: rgb(165, 185, 165);
    color: white;    
    font-size: x-large;
    height: 50px;
    padding: 10px;
    margin: 25px;
}

#addbtn:hover {
    background-color: rgb(120, 136, 120);
}

#body {
    grid-row: 3/10;
    background-color: rgb(165, 185, 165);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#addnewbook {
    display: none;
    color: white;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 43.5%;
    background-color: green;
    padding: 25px;
    border-radius: 10px;
}

.book {
    margin-top: 20px;
}

.inputtext {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.submit {
    margin-top: 20px;
}

#submit {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: larger;
}

.createdBook {
    margin-top: 25px;
    margin-left: 25px;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
}

#readbutt {
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 10px;
}

#remove {
    height: 50px;
    width: 250px;
    background-color: rgb(255, 135, 135);
    border: none;
    border-radius: 10px;
}